.carousel-caption {
    background: rgba(205, 214, 219, 0.7);
    border-radius: 15rem;
    color: black;
    font-size: 1.5rem;
}

#contacts {
    font-size: 1.5rem;
}

#about {
    background-color: #e1fcfc;
    box-shadow: 0 0 10px 10px #e1fcfc;
}

#services {
    box-shadow: 0 0 10px 10px #fff;
}

#services img {
    width: 20rem;
    height: 20rem;
}

#services figcaption {
    color: black;
}
