body {
    background-image: url(/img/bckgrnd.png);
    background-repeat: repeat;
    font-size: 1.2rem;
}

.navbar a {
    font-size: 1.5rem;
}

footer {
    background-color: #e1fcfc;
}

footer a > img {
    width: 312px;
    height: 87px;
}

footer p > a {
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #f1c40f;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #575769;
}
